appdirs==1.4.3
attrs==19.3.0
coloredlogs==14.0
distlib==0.3.0
entrypoints==0.3
filelock==3.0.12
humanfriendly==8.1
mccabe==0.6.1
more-itertools==8.2.0
packaging==20.3
pluggy==0.13.1
py==1.10.0
pycodestyle==2.5.0
pyparsing==2.4.7
pytest==5.4.1
pytest-asyncio==0.10.0
PyYAML==5.3.1
six==1.14.0
toml==0.10.0
tox==3.14.6
virtualenv==20.0.17
wcwidth==0.1.9
